.grid-container {
    margin: 0 auto;
    display: grid;
    width: 300px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: blue;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    height: 60px;
}


#display {
    min-width: 100px;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: right;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    color: darkblue;
}


#\= {
    grid-column-start: 1;
    grid-column-end: 4;
}

